apiVersion: apps/v1
kind: Deployment
metadata:
  name: question-service
  namespace: peerprep
  labels:
    app: question-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: question-service
  template:
    metadata:
      labels:
        app: question-service
    spec:
      serviceAccountName: question-service-sa # Workload Identity for Secret Manager
      containers:
        - name: question-service
          image: gcr.io/peerprep-475911/question-service:v1.17
          ports:
            - containerPort: 8001
              name: http
          envFrom:
            - configMapRef:
                name: question-service-config
          resources:
            requests:
              memory: '256Mi'
              cpu: '250m'
            limits:
              memory: '512Mi'
              cpu: '500m'
          livenessProbe:
            httpGet:
              path: /health
              port: 8001
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /health
              port: 8001
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
