apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: peerprep
  labels:
    app: frontend
  annotations:
    cloud.google.com/backend-config: '{"default": "frontend-backend-config"}'
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
